.h1 {
    padding-bottom: 1rem;
}
.errmsg {
    background-color: rgb(255, 255, 255);
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 0.5rem;
}

.p1 {
    margin-top: 1rem;
}